@schemeUrl: "http://paletton.com/#uid=33k0u0kulwhiMEQo1zgxjpJBGkh";

@textDefaultColor: rgba(51, 51, 51, 1.0);
@textInverseColor: rgba(255, 255, 255, 1.0);
@textSuccessColor: rgba(10, 144, 156, 1.0);
@textWarningColor: rgba(255, 177, 13, 1.0);
@textDangerColor: rgba(255, 25, 13, 1.0);

@backgroundDefaultColor: rgba(255, 255, 255, 1.0);
@backgroundSuccessColor: rgba(78, 177, 186, 0.5);
@backgroundWarningColor: rgba(255, 207, 105, 0.5);
@backgroundDangerColor: rgba(255, 113, 105, 0.5);

@elementDefaultColor: rgba(255, 255, 255, 1.0);
@elementSuccessColor: rgba(43, 155, 165, 1.0);
@elementWarningColor: rgba(255, 193, 64, 1.0);
@elementDangerColor: rgba(255, 73, 64, 1.0);

@borderDefaultColor: rgb(245, 245, 245);
@border2DefaultColor: rgb(221, 221, 221);
@borderSuccessColor: rgba(2, 114, 125, 1.0);
@borderWarningColor: rgba(205, 139, 0, 1.0);
@borderDangerColor: rgba(205, 10, 0, 1.0);

.transition (...) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -ms-transition: @arguments;
  -o-transition: @arguments;
}

.border-radius() {
  border-radius: 2;
}

.btn {
  color: @textDefaultColor;
  .border-radius();
  .transition(background-color 0.2s, border-color 0.2s;);
  &.btn-default {
    color: @textDefaultColor;
    background-color: @elementDefaultColor;
    border-color: @border2DefaultColor;
    &:hover, &:focus, &:active {
      color: @textDefaultColor;
      background-color: @borderDefaultColor;
      border-color: @border2DefaultColor;
    }
  }
  &.btn-success, &.btn-primary {
    color: @textInverseColor;
    background-color: @elementSuccessColor;
    border-color: @textSuccessColor;
    &:hover, &:focus, &:active {
      color: @textInverseColor;
      background-color: @textSuccessColor;
      border-color: @borderSuccessColor;
    }
  }
  &.btn-warning {
    color: @textInverseColor;
    background-color: @elementWarningColor;
    border-color: @textWarningColor;
    &:hover, &:focus, &:active {
      color: @textInverseColor;
      background-color: @textWarningColor;
      border-color: @borderWarningColor;
    }
  }
  &.btn-danger {
    color: @textInverseColor;
    background-color: @elementDangerColor;
    border-color: @textDangerColor;
    &:hover, &:focus, &:active {
      color: @textInverseColor;
      background-color: @textDangerColor;
      border-color: @borderDangerColor;
    }
  }
}

.text-success {
  color: @textSuccessColor;
}

kbd {
  color: @textDefaultColor;
  background-color: @backgroundWarningColor;
}

.form-control {
  &:focus {
    border-color: @elementSuccessColor;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px @elementSuccessColor;
  }
}

.has-success .form-control {
  border-color: @elementSuccessColor;
  &:focus {
    border-color: @elementSuccessColor;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px @elementSuccessColor;
  }
}

.has-error .form-control {
  border-color: @elementDangerColor;
  &:focus {
    border-color: @elementDangerColor;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px @elementDangerColor;
  }
}

.has-error .help-block {
  color: @textDangerColor;
}

.bg-success {
  background-color: @backgroundSuccessColor;
}

.bg-warning {
  background-color: @backgroundWarningColor;
}

.bg-danger {
  background-color: @backgroundDangerColor;
}


.public {
  color: @textWarningColor;
}
.connected {
  color: @textSuccessColor;
}