.btn {
  color: #333333;
  border-radius: 2;
  -webkit-transition: background-color 0.2s, border-color 0.2s;
  -moz-transition: background-color 0.2s, border-color 0.2s;
  -ms-transition: background-color 0.2s, border-color 0.2s;
  -o-transition: background-color 0.2s, border-color 0.2s;
}
.btn.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #dddddd;
}
.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active {
  color: #333333;
  background-color: #f5f5f5;
  border-color: #dddddd;
}
.btn.btn-success,
.btn.btn-primary {
  color: #ffffff;
  background-color: #2b9ba5;
  border-color: #0a909c;
}
.btn.btn-success:hover,
.btn.btn-primary:hover,
.btn.btn-success:focus,
.btn.btn-primary:focus,
.btn.btn-success:active,
.btn.btn-primary:active {
  color: #ffffff;
  background-color: #0a909c;
  border-color: #02727d;
}
.btn.btn-warning {
  color: #ffffff;
  background-color: #ffc140;
  border-color: #ffb10d;
}
.btn.btn-warning:hover,
.btn.btn-warning:focus,
.btn.btn-warning:active {
  color: #ffffff;
  background-color: #ffb10d;
  border-color: #cd8b00;
}
.btn.btn-danger {
  color: #ffffff;
  background-color: #ff4940;
  border-color: #ff190d;
}
.btn.btn-danger:hover,
.btn.btn-danger:focus,
.btn.btn-danger:active {
  color: #ffffff;
  background-color: #ff190d;
  border-color: #cd0a00;
}
.text-success {
  color: #0a909c;
}
kbd {
  color: #333333;
  background-color: rgba(255, 207, 105, 0.5);
}
.form-control:focus {
  border-color: #2b9ba5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #2b9ba5;
}
.has-success .form-control {
  border-color: #2b9ba5;
}
.has-success .form-control:focus {
  border-color: #2b9ba5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #2b9ba5;
}
.has-error .form-control {
  border-color: #ff4940;
}
.has-error .form-control:focus {
  border-color: #ff4940;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ff4940;
}
.has-error .help-block {
  color: #ff190d;
}
.bg-success {
  background-color: rgba(78, 177, 186, 0.5);
}
.bg-warning {
  background-color: rgba(255, 207, 105, 0.5);
}
.bg-danger {
  background-color: rgba(255, 113, 105, 0.5);
}
.public {
  color: #ffb10d;
}
.connected {
  color: #0a909c;
}
