@backgroundColor: #356FA2;
@linkColor: #ffffff;

.pager {
  ul {
    text-align: center;
  }

  .selected {
    a {
      background-color: @backgroundColor;
      color: @linkColor;
      &:hover {
        background-color: darken(@backgroundColor, 10%);
      }
    }

  }

  * {
    float: none !important;
  }
}