@asideBackgroudColor: rgb(50, 50, 58);
@asideMenuBackgroudColor: rgb(40, 40, 46);
@asideTextColor: rgb(174, 178, 183);
@asideWidth: 220px;
@linkColor: #428bca;
@navBarHeight: 45px;

* {
  border-radius: 0 0 0 0 !important;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url(../img/background.png);
  font-weight: lighter;
  font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: inherit;
  margin: 8px 10px;
}

//a {
//  transition: color 0.2s ease;
//  color: @linkColor;
//  &:hover {
//    color: darken(@linkColor, 10);
//  }
//}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

#wrapper, aside {
  margin-top: @navBarHeight;
}

.loading {
  background-color: #ffffff;
  background-image: url('../img/loader_fast.gif');
  background-size: 24px auto;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}

.grid-view-loading {
  background-image: url('../img/loader_fast.gif') !important;
  background-size: 24px auto !important;
  background-position: left top !important;
  background-color: rgba(255, 255, 255, 0.7) !important;
  //  opacity: 0.7;
}

.button(@sideMargin: 2px; @minWidth : 80px;) {
  min-width: @minWidth;
  margin-left: @sideMargin;
  margin-right: @sideMargin;
}

.waterMark {
  width: 100%;
  color: #999999;
  text-align: center;
}

.error {
  color: #a94442;
}

#helpLink {
  cursor: pointer;
}

// qSubmit
.qSubmit {
  .button();
}

.qSubmit-content {
  min-width: 200px;
  text-align: center;

  .btn {
    //    .button();
  }
}

// qModal
.modal-content.loading {
  min-height: 50px;
}

.modal-content {
  .tab-content {
    padding-top: 15px;
  }
  code {
    white-space: inherit;
    color: inherit;
    font-size: inherit;
  }
  textarea {
    resize: vertical;
  }
}

.modal-footer {
 .btn {
   width: 96px;
 }
}

// yiiPager

.pagination {
  .previous, .next, .first, .last {
    display: none;
  }
}

// grid-view

.grid-view {
  a {
    cursor: pointer;
  }
  .grid-icon {
    width: 24px;
    min-width: 24px;
    max-width: 24px;
  }
  .glyphicon-info-sign, .fa-info, .fa-info-circle {
    cursor: help;
  }
}

header.navbar {
  min-height: @navBarHeight;
  background-color: fadeout(#ddd, 20%);
  border: none;

  #header-logo {
    width: @asideWidth;
    height: 100%;
    //    position: absolute;
    .navbar-logo {
      max-height: 30px;
      margin: 7px;
    }
    .navbar-brand {
      height: @navBarHeight;
      font-weight: normal;
      padding: 5px;
      line-height: 1.8;
      color: #ffffff;
      overflow: hidden;
      max-width: 175px;
    }
  }

  .navbar-text {
    margin: 10px;
    color: #777;
  }

  #headerMenu {
    margin: 0px 0;
    .thumbnail {
      display: block;
      padding: 0;
      margin: 0;
      border: none;
      border-radius: 0;
      background-color: transparent;
      -webkit-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out;
    }
    #user-block {
      height: @navBarHeight;
      padding: 5px;
      a {
        margin-right: 3px;
        margin-left: 3px;
      }
    }
    #user-image {
      max-height: @navBarHeight;
    }

    .dropdown-toggle {
      font-size: large;
    }
    .dropdown-menu {
      .glyphicon {

      }
    }
  }

}

.glyphicon {
  font-size: 1.1em;
}

section#wrapper {
  float: left;
  width: 100%;
}

section#container {
  margin-left: @asideWidth;
  #breadcrumbs {
    height: 30px;
//    font-size: 0.9em;
    padding: 5px 10px;
    background-color: #ffffff;
    .breadcrumbs {
      float: left;
    }
    .page-help {
      float: right;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
  #page-header {
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
  }
  #page-content {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 60px;
    .row {
      margin-right: -5px;
      margin-left: -5px;
      > div {
        padding-right: 5px;
        padding-left: 5px;
      }
    }
  }
}

#qap-aside {
  float: left;
  margin-left: -100%;
  width: @asideWidth;
  &:before {
    background-color: @asideBackgroudColor;
    bottom: 0;
    content: "";
    position: fixed;
    top: 0;
    width: @asideWidth;
  }
  #qap-aside-menu {
    font-weight: 400;
    position: fixed;
    width: inherit;
    padding: 0px;
    color: @asideTextColor;
    a {
      color: @asideTextColor;
      text-decoration: none;

    }
    a:hover, a:focus {
      text-decoration: none;
      color: @linkColor;
    }
    .panel {
      margin-bottom: 1px;
      border: none;
      .panel-heading {
        padding: 0 15px;
        line-height: 50px;
        font-size: 1.1em;
        text-transform: uppercase;
        text-align: left;
        background-color: @asideMenuBackgroudColor;
        &.active {
          padding-left: 12px;
          background-color: @asideMenuBackgroudColor;
          border-left: 3px solid @linkColor;
        }
        .caret {
          margin: 5px;
        }
      }
      &:hover {
        .panel-heading {
          background-color: @asideMenuBackgroudColor;
        }
      }
      .panel-body {
        padding: 0;
        line-height: 20px;
        font-size: 0.9em;
        background-color: @asideMenuBackgroudColor;
        .menu-item {
          padding-left: 20px;
          padding-right: 5px;
          padding-bottom: 5px;
          &.active {
            padding-left: 17px;
            border-left: 3px solid @linkColor;
          }
        }
      }
    }
  }
}

footer {
  text-align: center;
  width: @asideWidth;
  clear: left;
  bottom: 0px;
  position: fixed;
  color: rgb(80, 80, 86);
  margin-top: 5px;
  margin-bottom: 5px;
}

.QiPanel {
  margin-bottom: 10px;
  .panel-heading {
    .panel-toggle {
      border-right: solid 1px #ddd;
      margin: -5px 10px -5px -15px;
      text-align: center;
      cursor: pointer;
      width: 39px;
      padding-left: 10px;
      i {
        color: #999;
        margin: 8px 0px 8px -8px;
      }
    }
    .panel-buttons {
      display: inline;
      margin: -6px -12px;
      a, input, select, button, div, span {
          margin-left: 2px;
      }
    }
  }
  .panel-body {
    overflow: auto;
  }
}

.easy-pie-chart {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
  .value {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
  }
  .label {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    display: block;
    vertical-align: bottom;
  }
}

.switch-toggle label {
  cursor: pointer;
}


.QiSelect {
  float: left;
  .dropdown-toggle {
    height: @navBarHeight;
    padding: 12px;
    font-size: 1.1em;
  }
}

// copied from bootstrap.css .has-error .form-control
.has-error .selectize-input {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

// copied from bootstrap.css .has-error .form-control:focus
.has-error .selectize-input:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

// copied from bootstrap.css .has-success .form-control
.has-success .selectize-input {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

// copied from bootstrap.css .has-success .form-control:focus
.has-success .selectize-input:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}

.yii-selectize .selectize-input {
  font-size: 13px;
}