.pager ul {
  text-align: center;
}
.pager .selected a {
  background-color: #356fa2;
  color: #ffffff;
}
.pager .selected a:hover {
  background-color: #28557c;
}
.pager * {
  float: none !important;
}
