* {
  border-radius: 0 0 0 0 !important;
  font-family: 'Open Sans', sans-serif;
}
body {
  background-image: url(../img/background.png);
  font-weight: lighter;
  font-size: 13px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: inherit;
  margin: 8px 10px;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
#wrapper,
aside {
  margin-top: 45px;
}
.loading {
  background-color: #ffffff;
  background-image: url('../img/loader_fast.gif');
  background-size: 24px auto;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}
.grid-view-loading {
  background-image: url('../img/loader_fast.gif') !important;
  background-size: 24px auto !important;
  background-position: left top !important;
  background-color: rgba(255, 255, 255, 0.7) !important;
}
.waterMark {
  width: 100%;
  color: #999999;
  text-align: center;
}
.error {
  color: #a94442;
}
#helpLink {
  cursor: pointer;
}
.qSubmit {
  min-width: 80px;
  margin-left: 2px;
  margin-right: 2px;
}
.qSubmit-content {
  min-width: 200px;
  text-align: center;
}
.modal-content.loading {
  min-height: 50px;
}
.modal-content .tab-content {
  padding-top: 15px;
}
.modal-content code {
  white-space: inherit;
  color: inherit;
  font-size: inherit;
}
.modal-content textarea {
  resize: vertical;
}
.modal-footer .btn {
  width: 96px;
}
.pagination .previous,
.pagination .next,
.pagination .first,
.pagination .last {
  display: none;
}
.grid-view a {
  cursor: pointer;
}
.grid-view .grid-icon {
  width: 24px;
  min-width: 24px;
  max-width: 24px;
}
.grid-view .glyphicon-info-sign,
.grid-view .fa-info,
.grid-view .fa-info-circle {
  cursor: help;
}
header.navbar {
  min-height: 45px;
  background-color: rgba(221, 221, 221, 0.8);
  border: none;
}
header.navbar #header-logo {
  width: 220px;
  height: 100%;
}
header.navbar #header-logo .navbar-logo {
  max-height: 30px;
  margin: 7px;
}
header.navbar #header-logo .navbar-brand {
  height: 45px;
  font-weight: normal;
  padding: 5px;
  line-height: 1.8;
  color: #ffffff;
  overflow: hidden;
  max-width: 175px;
}
header.navbar .navbar-text {
  margin: 10px;
  color: #777;
}
header.navbar #headerMenu {
  margin: 0px 0;
}
header.navbar #headerMenu .thumbnail {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  background-color: transparent;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
header.navbar #headerMenu #user-block {
  height: 45px;
  padding: 5px;
}
header.navbar #headerMenu #user-block a {
  margin-right: 3px;
  margin-left: 3px;
}
header.navbar #headerMenu #user-image {
  max-height: 45px;
}
header.navbar #headerMenu .dropdown-toggle {
  font-size: large;
}
.glyphicon {
  font-size: 1.1em;
}
section#wrapper {
  float: left;
  width: 100%;
}
section#container {
  margin-left: 220px;
}
section#container #breadcrumbs {
  height: 30px;
  padding: 5px 10px;
  background-color: #ffffff;
}
section#container #breadcrumbs .breadcrumbs {
  float: left;
}
section#container #breadcrumbs .page-help {
  float: right;
  padding-top: 4px;
  padding-bottom: 4px;
}
section#container #page-header {
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}
section#container #page-content {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 60px;
}
section#container #page-content .row {
  margin-right: -5px;
  margin-left: -5px;
}
section#container #page-content .row > div {
  padding-right: 5px;
  padding-left: 5px;
}
#qap-aside {
  float: left;
  margin-left: -100%;
  width: 220px;
}
#qap-aside:before {
  background-color: #32323a;
  bottom: 0;
  content: "";
  position: fixed;
  top: 0;
  width: 220px;
}
#qap-aside #qap-aside-menu {
  font-weight: 400;
  position: fixed;
  width: inherit;
  padding: 0px;
  color: #aeb2b7;
}
#qap-aside #qap-aside-menu a {
  color: #aeb2b7;
  text-decoration: none;
}
#qap-aside #qap-aside-menu a:hover,
#qap-aside #qap-aside-menu a:focus {
  text-decoration: none;
  color: #428bca;
}
#qap-aside #qap-aside-menu .panel {
  margin-bottom: 1px;
  border: none;
}
#qap-aside #qap-aside-menu .panel .panel-heading {
  padding: 0 15px;
  line-height: 50px;
  font-size: 1.1em;
  text-transform: uppercase;
  text-align: left;
  background-color: #28282e;
}
#qap-aside #qap-aside-menu .panel .panel-heading.active {
  padding-left: 12px;
  background-color: #28282e;
  border-left: 3px solid #428bca;
}
#qap-aside #qap-aside-menu .panel .panel-heading .caret {
  margin: 5px;
}
#qap-aside #qap-aside-menu .panel:hover .panel-heading {
  background-color: #28282e;
}
#qap-aside #qap-aside-menu .panel .panel-body {
  padding: 0;
  line-height: 20px;
  font-size: 0.9em;
  background-color: #28282e;
}
#qap-aside #qap-aside-menu .panel .panel-body .menu-item {
  padding-left: 20px;
  padding-right: 5px;
  padding-bottom: 5px;
}
#qap-aside #qap-aside-menu .panel .panel-body .menu-item.active {
  padding-left: 17px;
  border-left: 3px solid #428bca;
}
footer {
  text-align: center;
  width: 220px;
  clear: left;
  bottom: 0px;
  position: fixed;
  color: #505056;
  margin-top: 5px;
  margin-bottom: 5px;
}
.QiPanel {
  margin-bottom: 10px;
}
.QiPanel .panel-heading .panel-toggle {
  border-right: solid 1px #ddd;
  margin: -5px 10px -5px -15px;
  text-align: center;
  cursor: pointer;
  width: 39px;
  padding-left: 10px;
}
.QiPanel .panel-heading .panel-toggle i {
  color: #999;
  margin: 8px 0px 8px -8px;
}
.QiPanel .panel-heading .panel-buttons {
  display: inline;
  margin: -6px -12px;
}
.QiPanel .panel-heading .panel-buttons a,
.QiPanel .panel-heading .panel-buttons input,
.QiPanel .panel-heading .panel-buttons select,
.QiPanel .panel-heading .panel-buttons button,
.QiPanel .panel-heading .panel-buttons div,
.QiPanel .panel-heading .panel-buttons span {
  margin-left: 2px;
}
.QiPanel .panel-body {
  overflow: auto;
}
.easy-pie-chart {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.easy-pie-chart .value {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: auto;
}
.easy-pie-chart .label {
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  position: relative;
  display: block;
  vertical-align: bottom;
}
.switch-toggle label {
  cursor: pointer;
}
.QiSelect {
  float: left;
}
.QiSelect .dropdown-toggle {
  height: 45px;
  padding: 12px;
  font-size: 1.1em;
}
.has-error .selectize-input {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .selectize-input:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
}
.has-success .selectize-input {
  border-color: #3c763d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .selectize-input:focus {
  border-color: #2b542c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
}
.yii-selectize .selectize-input {
  font-size: 13px;
}
