b, strong {
  font-weight: bolder;
}

// bill colors
@bg-opacity: 0.2;

.bg-new {
  background-color: rgba(144, 202, 119, 1);
}

.bg-new-opacity {
  background-color: rgba(144, 202, 119, @bg-opacity);
}

.bg-approved {
  background-color: rgba(233, 182, 77, 1)
}

.bg-approved-opacity {
  background-color: rgba(233, 182, 77, @bg-opacity)
}

.bg-invoice {
  background-color: rgba(228, 135, 67, 1);
}

.bg-invoice-opacity {
  background-color: rgba(228, 135, 67, @bg-opacity);
}

.bg-overdue {
  background-color: rgba(158, 59, 51, 1);
}

.bg-overdue-opacity {
  background-color: rgba(158, 59, 51, @bg-opacity);
}

.bg-paid {
  background-color: rgba(129, 198, 221, 1);
}

.bg-paid-opacity {
  background-color: rgba(129, 198, 221, @bg-opacity);
}

.filters input, .filters select {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  display: block;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  line-height: 1.5;
}

.filters input:focus, .filters select:focus {
  border-color: #66AFE9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}

small {
  font-weight: inherit !important;
}

.school-select, .year-select, .period-select {
  cursor: pointer;
}

#side-menu .nav > li > a {
  padding: 2px;
}

.school-key {
  width: 15%;
}

.ui-pnotify-shadow {

}

.btn-margin {
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
}

.btn-margin-full {
  margin: 4px;
}

th {
  border-top: none !important;
}

.checkbox-inline, .btn, label {
  font-weight: inherit;
}

.panel-heading {
//  min-height: 40px;
}

.school-overview {
  margin-bottom: 30px;
}

.th-first-schools {
  width: 20%;
}

#study-year .btn-group {
  width: 360px;
}

#study-year {
  #first-year .btn, #last-year .btn {
    width: 87px;
  }
  #first-month .btn, #last-month .btn {
    width: 57px;
  }
}

#settings-deferment .control-label {
  margin: 10px;
}

.btn-group > .btn:first-child {
  margin-left: -1px;
}

.dropdown-menu {
  font-size: inherit;
  max-height: 500px;
  overflow: hidden;
  overflow-y: auto;
  li > a, .dropdown-header {
    padding: 2px 15px;
  }
}

.form-control {
  font-size: inherit;
}

#service-periods .badge {
  min-width: 40px;
  margin-right: 3px;
}

.checkbox label {
  font-weight: inherit;
}