b,
strong {
  font-weight: bolder;
}
.bg-new {
  background-color: #90ca77;
}
.bg-new-opacity {
  background-color: rgba(144, 202, 119, 0.2);
}
.bg-approved {
  background-color: #e9b64d;
}
.bg-approved-opacity {
  background-color: rgba(233, 182, 77, 0.2);
}
.bg-invoice {
  background-color: #e48743;
}
.bg-invoice-opacity {
  background-color: rgba(228, 135, 67, 0.2);
}
.bg-overdue {
  background-color: #9e3b33;
}
.bg-overdue-opacity {
  background-color: rgba(158, 59, 51, 0.2);
}
.bg-paid {
  background-color: #81c6dd;
}
.bg-paid-opacity {
  background-color: rgba(129, 198, 221, 0.2);
}
.filters input,
.filters select {
  background-color: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555555;
  display: block;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  vertical-align: middle;
  width: 100%;
  height: 30px;
  padding: 5px 10px;
  line-height: 1.5;
}
.filters input:focus,
.filters select:focus {
  border-color: #66AFE9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
  outline: 0 none;
}
small {
  font-weight: inherit !important;
}
.school-select,
.year-select,
.period-select {
  cursor: pointer;
}
#side-menu .nav > li > a {
  padding: 2px;
}
.school-key {
  width: 15%;
}
.btn-margin {
  margin-left: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
}
.btn-margin-full {
  margin: 4px;
}
th {
  border-top: none !important;
}
.checkbox-inline,
.btn,
label {
  font-weight: inherit;
}
.school-overview {
  margin-bottom: 30px;
}
.th-first-schools {
  width: 20%;
}
#study-year .btn-group {
  width: 360px;
}
#study-year #first-year .btn,
#study-year #last-year .btn {
  width: 87px;
}
#study-year #first-month .btn,
#study-year #last-month .btn {
  width: 57px;
}
#settings-deferment .control-label {
  margin: 10px;
}
.btn-group > .btn:first-child {
  margin-left: -1px;
}
.dropdown-menu {
  font-size: inherit;
  max-height: 500px;
  overflow: hidden;
  overflow-y: auto;
}
.dropdown-menu li > a,
.dropdown-menu .dropdown-header {
  padding: 2px 15px;
}
.form-control {
  font-size: inherit;
}
#service-periods .badge {
  min-width: 40px;
  margin-right: 3px;
}
.checkbox label {
  font-weight: inherit;
}
